.services-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
}
.services-container .tab-buttons{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    border-right: .1rem solid #eee;
}
.services-container .right p{
    font-weight: 500;
    font-size: 1rem;
}
.services-container .tab-buttons .tab-btn{
    padding: 1rem;
    border: .1rem solid #eee;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1.5rem;
    max-width: 18rem;
    cursor: pointer;
    background: var(--color-primary);
    color: var(--color-text-2);
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
    transition: var(--transition);
    border-radius: .5rem;
}
.tab-buttons .tab-btn:nth-child(2){
    background: #f8bb38;
}
.tab-buttons .tab-btn:nth-child(3){
    background:#7373b2;
}
.tab-buttons .tab-btn .tab-icon{
    font-size: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
    background: var(--color-text-2);
    color: var(--color-text-1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.tab-buttons .tab-btn:hover{
    transform: translatey(-.1rem);
}
.services-container .right h3{
    margin-bottom: 2rem;
}

@media (max-width:1100px){
    .services-container{
        grid-template-columns: 100%;
    }
    .services-container .tab-buttons{
        grid-template-columns:repeat(3,1fr);
        border-right: none;
    }
}
@media (max-width: 768px){
    .services-container .tab-buttons{
        grid-template-columns: 1fr 1fr;
        gap: .5rem;

    }
    .services-container .right p,.services-container .right h3{
        text-align: center;
        justify-content: center;
    }
}