.portfolio .title{
    margin-bottom: 3rem;
}
.portfolio-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.portfolio-btns .portfolio-tab{
    border: .1rem solid var(--color-primary);
    color: var(--color-primary);
    padding: .4rem 1.4rem;
    border-radius: 5rem;
    cursor: pointer;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.portfolio-container .box{
    position: relative;
}
.portfolio-container .box img{
    outline: .4rem soild #f5f5ff;
    border-radius:1rem
}
.portfolio-container .box .layer{
    position: absolute;
    height: 0%;
    width: 100%;
    background: linear-gradient(#00afe0ad,#409b7b);
    color: var(--color-text-2);
    left: 0;bottom: 0;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    border-radius: 1rem;
    overflow: hidden;
    padding: 0 20px;
    transition: var(--transition);
}
.portfolio-container .box .layer h3{
    margin: 20px;
    font-weight: 900;
    font-size: 1.6rem;
}
.portfolio-container .box .layer a{
    background:var(--color-primary);
    color: var(--color-text-2);
    font-size: 1.1rem;
    height: 3rem;
    width: 3rem;
    line-height: 3.3rem;
    margin-top: 20px;
    border-radius: 50%;
    text-align: center;
    transition: .4s ease;
}
.portfolio-container .box:hover .layer{
    height: 100%;
}
.portfolio-container .box:hover .layer a:hover{
    color: var(--color-primary);
    background: var(--color-text-2);
}
@media (max-width:1100px){
    .portfolio-container{
    grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:768px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
}
@media (max-width:567px){
    .portfolio-btns{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .3rem;
        margin-bottom: 2rem;
    }
    .portfolio-btn .portfolio-tab{
        padding: .4rem 1.4rem;
    }
}